// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100% ;
}

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  margin-bottom: 65px;
}

//导航条
.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(187,255,255,0.1);
  border-top: 1px solid  #AB82FF;
  margin-bottom: 20px;
  .dropdown-menu {
    padding: 0px;

    li a {
      border-bottom: 1px solid #d8d8d8;
      line-height: 2.4;

      .glyphicon {
        margin-right: 8px;
      }
    }
  }
}
//页脚
.footer .phrase {
  font-style: italic;
  margin: 5px 0px 5px 0px;
}
.footerlink {
  margin: 0px 10px 0px 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100% ;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #363636;
  p {
    color: #c1c1c1;
    a {
      color: inherit;
    }
  }
}

.register-page {
  img.captcha {
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }
  .nav-tabs {
    margin-bottom: 20px;

    >li.active > a {
      background-color: #fff;
    }
  }

  .list-group {
    .list-group-item {
      border: none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }
    }
  }

  .pagination {
    margin: 12px 0;
  }
}

/* Topic Index Page */
.topics-index-page,.categories-show-page,.root-page{
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }
    a {
      color: #444444;
    }
    .meta {
      font-size:0.9em;
      color:#b3b3b3;

      .category_1 a{
        color:#5CACEE;
      }
      .category_2 a{
        color:#5bc0de;
      }
      .category_3 a{
        color:#CDAA7D;
      }
      .category_4 a{
        color:#EE6363;
      }
      .user_name a{
        color:#b3b3b3;
      }
    }


    .badge {
      background-color: #d8d8d8;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}
